.sets-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 40px;
}

.set-box{
    border: 1px solid #CB296F;
    border-radius: 7px;
    width: 11vw;
    background-color: #c78fa760; /*rgba(255, 255, 255, 0.3);*/
    color: #FFFFFF;
    text-decoration: none;
    word-wrap: break-word;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 40px;
    padding-top:0;
}

.set-name{
    padding-bottom: 5vh;
    /* text-align: center; */
    /* padding-left: 5vh; */
    margin: 5px;
}

.cards{
    position: absolute;
    bottom: 5px;
    right: 40px;
    color: #ff4800;
}

.button{
    padding-top: 8px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #CB296F;
}