/*
background(dark green) : #0F292F
BACKGROUND 2 (DARK BERRY): #501F3A
TEXT(IVORY WHITE RO WHITE): #CCCCCC OR #FFFFFF
NAVBAR(BERRY PINK): #CB296F
ACCENTS (TEAL BLUE): #14A098 
*/
* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
  
html, 
body{
    background: #0F292F;
    margin: 0; /*full width of navabr*/
}
nav {
    display: flex;
    background: #CB296F;
    padding: 20px 20px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

input,
select {
    margin: 10px 10px;
    border-radius: 3px;
    padding: 10px 8px;
}
.card input {
    display: flex;
    flex-direction: column;
    width: 50%;
}
