/*
background(dark green) : #0F292F
BACKGROUND 2 (DARK BERRY): #501F3A
TEXT(IVORY WHITE RO WHITE): #CCCCCC OR #FFFFFF
NAVBAR(BERRY PINK): #CB296F
ACCENTS (TEAL BLUE): #14A098 
*/

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}
  
html, 
body{
    background: #00152b;
    margin: 0; /*full width of navabr*/
}
nav {
    display: flex;
    background: #CB296F;
    background-image: url('./background2.png');
    background-repeat: repeat;
    padding: 20px 20px;
    border-bottom: 5px solid #501F3A;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: font-size 0.5s ease;
    letter-spacing: 1px;
    font-size: 18px;
}
nav a:hover{
    font-size: 20px;
}
.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

input,
select {
    margin: 10px 10px;
    border-radius: 3px;
    padding: 10px 8px;
}
.card input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn{
    border-radius: 8px;
    width: 30%;
    height: 35px;
    background: #da450a;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #CB296F;
    border-color: 2px solid #da450a;
    transition: all 0.5s;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.322);
}
.btn:hover{
    width: 32%;
    height: 42px;
    text-shadow: 2px 2px 2px #CB296F;
    font-size: 20px;
    box-shadow: 0px 5px 15px rgba(250, 49, 49, 0.808);
}

