
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
  
html, 
body{
    background: #00152b;
    margin: 0; /*full width of navbar*/
}
nav {
    display: flex;
    background: #CB296F;
    background-image: url('./background2.png');
    background-repeat: repeat;
    padding-top: 15px;
    border-bottom: 5px solid #501F3A;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    word-wrap: break-word;  
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: font-size 0.5s ease;
    letter-spacing: 1px;
    font-size: 18px;
    flex-basis: 0;
    flex-grow: 1;
}
nav a:hover{
    font-size: 20px;
}
 
.app-name{
    font-size: 25px;
    letter-spacing: 3px;
    color: #ffe600;
    font-family: 'Fredoka One', cursive !important;    
    text-shadow: 2px 4px 1px rgba(236, 75, 169, 0.692);
    padding-bottom: 5px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

input,
select {
    margin: 10px 10px;
    border-radius: 3px;
    padding: 10px 8px;
}
.card input {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn{
    border-radius: 8px;
    width: 30%;
    height: 35px;
    background: #da450a;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #CB296F;
    border-color: 2px solid #da450a;
    transition: all 0.5s;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.322);
}
.btn:hover{
    width: 32%;
    height: 42px;
    text-shadow: 2px 2px 2px #CB296F;
    font-size: 20px;
    box-shadow: 0px 5px 15px rgba(250, 49, 49, 0.808);
}

@media screen and (max-width: 630px){
    .btn{
        width: 50%;
    }
    .card input {
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    nav ul{
        flex-direction: column;
        text-align: center;
        padding: 0px 0px;
        width: 100%;
        margin-bottom: 0px;
        justify-content: center;

    }
    nav li{
        margin-bottom: 10px;
    }
    .btn{
        width: 80%;
    }
    input,
    select {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        padding: 10px 10px;
    }
    .card input {
        width: 80%;
    }
}
}