.form-container{
    color: #FFFFFF;
    cursor: pointer;
}

h1 {
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid #ec0062;
    transition: border-bottom 0.5s;
    text-shadow: 3px 3px 3px #CB296F;
    
}

input, select{
    background: #CCCCCC;
    border-color: #CB296F;
    border-radius: 5px;
}

input:focus, select:focus{
    outline-color: #e2c440;
    background: #CCCCCC;

}

.side-btn {
    width: 20%;
    background: rgb(1, 124, 77);
    height: 35px;
    border-radius: 5px;
    border-color: #CB296F;
    margin-left: 10px;
    margin-bottom: 5px;
}

.remove-btn{
    background: rgb(223, 7, 7) !important;
    border-color: #da450a !important;
}

.side-btn:hover{
    color: #FFFFFF;
}

@media screen and (max-width: 500px){
    .side-btn {
        width: 50%;
    }
}