.card-section{
    flex: auto;
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.card-box{
    height: 100px;
    width: 100%;
    justify-content: space;
    border-radius: 5px;
}
.card-front{
    background: #CCCCCC;
}
 
.card-back{
    background: #14A098;
}
p{
    padding-top: 40px;
    font-size: 20px;
}