.card-section{
    flex: auto;
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.card-box{
    height: 100px;
    width: 100%;
    justify-content: space;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.322);
}
.card-front{
    background: #da450a;
}
 
.card-back{
    background: #CB296F;
}
p{
    padding-top: 40px;
    font-size: 20px;
}